.app-container{
  display : flex
}
.content{
  width: 100%
}
.sidebar{
  height: 100vh;
}
.postCard{
 min-width: 30rem;
  margin: 20px 50px;
}
.hashtag{
  margin: 0px 3px;
  border-radius: 0px;
}
.reaction{
display: flex;
  margin: 15px 0 0 0;
  
}

.reaction:hover{
  cursor: pointer;
}

.create-post{
  width: 80%;
  margin-top: 50px ;
  margin-left: 10%;
}
.welcome-message{
margin:  100px 0;
}
.spinner{
  margin: 10% 0;

}
.spinner-size{
  width:5rem ;
  height: 5rem;
}
.reaction-like{
  display: flex;
  margin: 15px;
}
.reaction-dislike{
  display: flex;
  margin: 15px;
}
.LikeCount{
  margin: -5px 0 0px 7px;
}
.disLikeCount{
  margin: -5px 0 0px 7px;
}